RewriteEngine On

RewriteRule ^moviereviewapp\.sql$ - [F,L]
RewriteRule ^config\.ini$ - [F,L]
# Prevent direct access to certain directories (optional, for security)
RewriteRule ^(app|core|models|views|vendor) - [F,L]

# Serve static files directly if they exist
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route all other requests to index.php
RewriteRule ^(.*)$ index.php [L]