/* Footer positioning */
footer {
    margin-top: auto;
    /* Push footer to the bottom */
    padding: 20px;
    text-align: center;
    background: #4f4d4d;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
    font-size: 1rem;
}


/* Optional: Add some style to the placeholder text */
#movie-search::placeholder {
    padding: 0px;
    color: #888;
    /* Sets the placeholder text color */
    font-style: italic;
    /* Makes the placeholder text italic */
}
#search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;  /* Set width to auto to fit the search bar */
}

#search-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.movie-search {
    padding-left: 30px; /* Adds space for the icon */
    width: 250px; /* Set the width of the input field */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
}

#nav-search {
    padding-left: 30px; /* Adds space for the icon */
    width: 250px; /* Set the width of the input field */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
}

