body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #1e3d58;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 25px; 
}


p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

a {
    text-decoration: underline;
    font-weight: normal;
}

a:hover {
    color: #007bff;
}


.back-link {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.back-link a {
    font-weight: bold;
    text-decoration: none;
    color: #1e3d58;
}




